<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h4>ID  :  <input type="text" placeholder="ID" name="id" value="{{task.id}}"></h4>
        <h4>Task : <input type="text" placeholder="Task" name="task" value="{{task.task}}"></h4>
        <input type="submit" value="submit">
    </form>
</body>
</html>