<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h2>Add Product</h2>
    <!-- <form action="" method="post">
        {% csrf_token %}
        <p><b>Product id : </b><input type="text" name="pro_id" id="" placeholder="product id"></p>
        <p><b>Product name : </b><input type="text" name="name" id="" placeholder="product name"></p>
        <p><b>Price : </b><input type="number" name="price" id="" placeholder="price"></p>
        <p><b>Offer Price : </b><input type="number" name="o_price" id="" placeholder="offer price"></p>
        <p><b>Product Image : </b><input type="file" name="img" id=""></p>
        <input type="submit" value="Add">
    </form> -->
    
    <!-- <form action="/action_page.php">
        <div class="mb-3 mt-3">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
</body>
</html>