<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
    <nav class="navbar navbar-expand-sm" style="background-color:rgb(126, 215, 211);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><b>Baby Hug</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="add_product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="bookings">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="logout">Logout</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- <h2>shop home page</h2> -->
    <div class="container mt-5">
        <div class="row">
            {% for pro in products %}
            <div class="col-lg-4">
                <div class="card" style="height: 750px;">
                    <img class="card-img-top" src="{{pro.img.url}}" alt="Card image" style="width:100%;height: 400px;">
                    <div class="card-body">
                        <h4 class="card-title">{{pro.product_name}}</h4>
                        <p class="card-text fw-light fw-secondary">{{pro.price}}</p>
                        <p class="card-text">{{pro.offer_price}}</p>
                        
                        <div >
                            <a href="edit_product/{{pro.pk}}" class="btn" style="background-color: rgb(186, 232, 230);width: 100%;">Edit</a>
                            <a href="delete_product/{{pro.pk}}" class="btn mt-3" style="background-color: rgb(186, 232, 230);width: 100%;">Delete</a>
                        </div>
                        <p class="card-text mt-3">{{pro.dis}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>