<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="pro_id" placeholder="product id" value="{{data.product_id}}">
        <input type="text" name="name" placeholder="product name" value="{{data.product_name}}">
        <input type="number" name="price" placeholder="price" value="{{data.price}}">
        <input type="number" name="o_price" placeholder="offer price" value="{{data.offer_price}}">
        <img src="{{data.img.url}}" alt="">
        <input type="file" name="img" value="{{data.img}}">
        <input type="submit" value="Update">
    </form>
</body>
</html>