<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>Roll_no : <input type="number" placeholder="roll_no" name="roll_no" value="{{data.roll_no}}"></p>
        <p>Name : <input type="text" placeholder="name" name="name" value="{{data.name}}"></p>
        <p>Age : <input type="number" placeholder="age" name="age" value="{{data.age}}"></p>
        <p>Email : <input type="email" placeholder="email" name="email" value="{{data.email}}"></p>
        <p>Phone : <input type="tel" placeholder="phone" name="phone" value="{{data.phone}}"></p>
        <input type="submit" value="save">
    </form>
    
</body>
</html>