<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    
    
    <div class="login_div" style="height: 220px;">
        <h2 class="login mb-4" style="margin-left: 7%;" >Login</h2>
        <form action="" method="post">
            {% csrf_token %}
            <p><b>UserName : </b><input type="text" name="uname" placeholder="username"></p>
            <p><b>Password : </b><input type="password" name="password" placeholder="password"></p>
            <input type="submit" value="Login">
        </form>

    </div>
    
   
    
</body>
</html>